/* 
    Antes modificar:
        Remover vendor-prefixes:
            Entrar a https://autoprefixer.github.io/ y en 'filter >100%'
    Despues de modificar:
        Agregar vendor-prefixes de nuevo
            Entrar a https://autoprefixer.github.io/ y en filter poner 'last 4 versions'

*/

/* Cuadricula*/
.progam-pensum-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: arial;
}

.progam-pensum-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

/* Descripción Programa*/
.progam-pensum-container .program-description {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85%;
  font-size: 0.75em;
}
.program-description p {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  line-height: 1.5;
  text-align: center;
}
.program-description .course-box-info {
  text-align: center;
}

.course-box-info .btns-wrapper {
  text-align: center;
}
.program-description ul {
  text-align: left;
  line-height: 1.5;
  margin-top: 0;
  padding-left: 20px;
}
.program-description .sample-course {
  width: 8em;
  margin-right: 25px;
  float: left;
}
.program-description .program-logo {
  height: 8em;
}

.program-description .btn-prerequisite,
.program-description .btn-corequisite {
  color: whitesmoke;
  display: inline-block;
  font-size: 1.5em;
  border-radius: 7px;
  width: 10em;
  text-align: center;
  margin-top: 5px;
  margin-right: 5px;
}

.grid-wrapper.pensum-wrapper {
  position: relative;
  margin: 2em auto;
  

  overflow-x: auto;
  overflow-y: hidden;
}

/*Estilos cuadricula*/

/* Bordes */
.semester-container .course-box,
.progam-pensum-container .sample-course,
.semester-container .semester-header,
.semester-container .semester-credits-sum {
  -webkit-box-shadow: inset 0 0 0 1px lightgray;
          box-shadow: inset 0 0 0 1px lightgray; /* Se bugea menos que border al hacer zoom*/
}

.semester-container .empty-box {
  
          -webkit-box-shadow: inset 0 0 0 1px transparent;
  
                  box-shadow: inset 0 0 0 1px transparent;
}

/* Borde Izquirdo Para Primer Columna*/
.semester-container:nth-of-type(1) .semester-courses{
  -webkit-box-shadow: inset 1px 0 0 0 lightgray;
          box-shadow: inset 1px 0 0 0 lightgray; 
}

/* Borde Derecho Para Ultima Columna*/
.semester-container:nth-last-of-type(1) .semester-courses{ 
  -webkit-box-shadow: inset -1px 0 0 0 lightgrey; 
          box-shadow: inset -1px 0 0 0 lightgrey;
}
 


.semester-container .course-box,
.semester-container .semester-header,
.semester-container .semester-credits-sum {
  margin-top: -1px;
}

.semester-container .semester-courses,
.semester-container .semester-header,
.semester-container .semester-credits-sum {
  margin-left: -1px;
}

.grid-wrapper .pensum {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1px;
}

.pensum .semester-container {
  width: 8em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.semester-container .empty-space {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.semester-container .semester-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4em;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
}

.semester-container .semester-credits-sum {
  height: 3em;
  line-height: 3em;
  text-align: center;
}

.semester-courses .course-box,
.progam-pensum-container .sample-course {
  cursor: pointer;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16em;
  text-align: center;
  overflow: hidden;
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.course-box .division-line {
  width: 100%;
  border: 0;
  margin: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.course-box .course-name {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 5em;
          flex: 1 0 5em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.course-box .course-code {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 3em;
          flex: 0 1 3em;
  line-height: 3em;
  margin: 0;
  padding: 0;
}

.course-box .creds-icon {
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid lightgray;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  line-height: 2em;
}

.semester-container.division-semester .semester-courses,
.semester-container.division-semester .empty-space,
.semester-container.division-semester .semester-credits-sum {
  z-index: 0;
}

@media screen and (min-width: 568px) {
  .progam-pensum-container .program-description {
    width: 80%;
  }

  .program-description .course-box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .course-box-info .btns-wrapper {
    text-align: left;
  }
  .program-description ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0n;
            flex: 1 1 0n;
    
  }
  .program-description .sample-course {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
/* Large */
@media screen and (min-width: 968px) {
  .progam-pensum-container .program-description {
    width: 60%;
  }
  .grid-wrapper.pensum-wrapper {
    width: 95%;
  }
}

/* Extra-Large */
@media screen and (min-width: 1250px) {
}