

@supports (display: grid) {
    .grid-wrapper * {
      box-sizing: border-box;
    }
  
    /*Estilos cuadricula*/
  
    .pensum {
      overflow-x: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  
    .semester-container {
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-word;
  
      flex: 0 1 100%;
      /* border: 1px solid black;  */
    }
  
    .semester-courses .course-box {
      border: 3px solid black;
      border-top: 0 none;
      padding: 1em;
      display: flex;
      flex-flow: column;
      align-items: center;
      height: 10em;
    }
  
    .semester-container .semester-header {
      background-color: rgba(144, 238, 144, 0.699);
      border: 3px solid orangered;
  
      height: 3em;
    }
  
    /* Large */
    @media screen and (min-width: 1000px) {
      .grid-wrapper {
        width: 95%;
      }
      .pensum {
        flex-wrap: nowrap;
      }
      .semester-container {
        flex: 0 0 calc(100% / 10);
      }
  
      .semester-container .course-box,
      .semester-container .semester-header {
        border-left: 0;
      }
  
      .semester-container:nth-of-type(1) .semester-header,
      .semester-container:nth-of-type(1) .course-box {
        border-left: 3px solid purple;
      }
  
      /*
      .semester-container:nth-of-type(3n + 1) .course-box{
          border-right: 3px solid black;
      }   */
    }
  
    /* Large */
  
    @media screen and (min-width: 1200px) {
      .semester-container {
        flex: 0 0 calc(100% / 12);
      }
    }
  
    /*Estilos cuadricula*/
  
    .semester-container .semester-courses {
      display: flex;
      flex-flow: column nowrap;
      position: relative;
    }
  
    .semester-container .semester-header {
    }
  
    .course-box .course-name {
      flex: 1 1;
      margin: 0;
      padding: 0;
    }
  
    .course-box .course-code {
      flex: 0 1 3em;
      line-height: 3em;
      margin: 0;
      padding: 0;
    }
  
    .course-box .creds-icon {
      background-color: gray;
      border-radius: 100%;
      height: 2em;
      width: 2em;
      line-height: 2em;
    }
  
    .semester-courses .course-box.empty-box {
      border: 6px solid yellow !important;
      background-color: yellow;
      z-index: 21;
    }
  }
  