.pensum {
    display: flex;
    flex-flow: row wrap;
}

.pensum .semester-container{
    flex: 0 1 100%;   
    /*
    border: 1px solid black; */
}

.pensum .semester-container{
    flex: 0 1 100%;   
    /*border: 1px solid black; 
    border-top: 0 none; */
    border-radius: 5px;
    
    
}



/*
.pensum .semester-container.division::after{
    content: " ";
    display: block;
    position: relative;
    height: 5px;
    background: black;
    width: 100%;
    left: 0px;
    
    

    
} */
.semester-container .semester-header{
    background-color: lightgreen;
}
.semester-container .semester-courses{
    display: flex;
    flex-flow: column;
}

.semester-courses .course-box{
    /* border-top: 1px solid black; */
}

.course-box .empty-box{
    border: 0 none;
}


.semester-container .semester-header{
    border: 3px solid black;
    margin: -3px 0 0 -3px;
}

.semester-courses .course-box{
    border: 3px solid black;   
    margin: -3px 0 0 -3px;
}

.semester-courses .course-box.empty-box{
    border-color: transparent;  
    
   /*  background-color: yellow;   */
    box-sizing: content-box;
    background-color : yellow;
    z-index: -1;
}

/* Pantallas Medianas*/

@media screen and (min-width: 768px){
  

    .pensum .semester-container{
        flex: 1 1 33%;   
        /* border: 1px solid black;  */
    } 

}

/* Desktop */

@media screen and (min-width: 1024px){

 
    .course-box{
        height: 100px;
    }

    .pensum .semester-container{
        flex: 1 1;   /*
        border: 1px solid black; */
    }

}